body{
    
    margin: 0;

}
section{
    
    background-color: white;
    
}
.hero{ 

    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
    width: 100%;
}
.hero-text{
    margin-left: 80px;
    margin-bottom: 200px;
    
    
    
}
.hero-area{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    
}
button{
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: rgb(57, 124, 168);
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    
}
button:hover{
    background-color: rgb(16, 59, 138);
}
button:active{
    background-color: rgb(83, 81, 81);
    
}
h1{
    font-size:90px;
    margin: 0;
}
p{
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}
a {
    text-decoration: none;
    color: white;
}
.subtext{ 
    font-size: 15px;
    font-weight: 300;
}
.socials{
    padding-bottom: 200px;
    margin: 20px;
    position:relative;  
    
    

}
.social{
    margin: 20px;
}
.sub-section{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 80px;
}
.sub-section-alternative{
    display: flex;
    flex-direction: column;
    text-align: center;
}
h2{
    font-size: 50px;
}
hr{
    margin-left: 20px;
}
.headshot{
    width: 250px;
    border-radius: 150px;
    margin-left: 80px;
}
.headshot-container {
    display: flex;
    align-items: center;
}
.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
    padding-bottom: 20px;
}
.project-container{
    display: flex;
    justify-content: space-around;
}
.project-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px
}
.project-link {
    text-decoration: none;
    color: rgb(57, 124, 168);
}
footer {
    background-color: #1c1d25;
    color: white;
    text-align: left;
    padding: 80px;


}
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    
    color: white;
}

.logo{
    
    margin: 30px;
    height: 100px;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    font-size: 35;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 600px) {


    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}