#Banner { 
    
  
    padding-left: 0em;
    padding-top: 1em;
    
    margin: auto;
    float: left;
    position: center
    
    
    


}
#Intro{
    background-color: lightgrey;
   
    padding: 1em;
    
    float: right;
    font-size: large;
    
    
    
    


}
body{
   
    width: 96%;
    max-width: 920px; margin: auto; padding: 2%; 
    font-family: "Times New Roman", Arial;
    
  

} 
nav {
    float: right; 
    margin-top: 40px;
    justify-content: right;
    display: inline; 
    flex-direction: row;
    color: black;
}
header nav li {
    display: inline; margin-left: 15px; color: black;
        }
        
h1 { margin-bottom: auto; color: #111111;  text-decoration-line: underline;
    text-decoration-style: double; padding-bottom: 1em;}
    html { overflow-y: scroll;}
p {
    text-indent: 30px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }