body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'times', 'sans-seriff';
    background-color: #1c1d25;
}
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1d25;
    
    color: white;
   
    
}
.hero{ 
    background-color: #1c1d25;
    height: 25vh;
    color: white;
    font-size: 40px;
    width: 100%;
}
.logo{
    
    margin: 30px;
    height: 100px;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.contact
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
    color: white;


}
.contact .content p {
    color: white;
    
    font-weight: 300;
    
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: white;
}
.container .contactInfo {

    width: 50%;
    display: flex;
    flex-direction: column;
    color: white;

}
.container .contactInfo .box{

    position: relative;
    padding: 20px 0;
    display: flex;
    color: white;
    
}
.container .contactInfo .box .icon{

    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text{

    display: flex;
    margin-left: 20px;
    font-size:16px;
    flex-direction: column;
    font-weight: 300;
    color: white;
}
.container .contactInfo .box .text h3 {

    font-weight: 500;
    color: white;

}

.contactForm{ 

    width: 40%;
    padding: 40px;
    background-color: white;

}
.contactForm h2{

    font-size: 30px;
    font-weight: 500;
}
.contactForm .inputBox{

    position: relative;
    width: 100%;
    margin-top: 10px;

}
.contactForm .inputBox input,textarea
.contactForm .inputBox input,textarea{

    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom:  2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span {

    position: absolute;
    left: 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: .05s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{

    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{

    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media (max-width: 991px) {

    .contact{ 
        padding: 50px;
    }
    .container{ 
        flex-direction: column;
    }
    .container .contactInfo{

        margin-bottom: 40px;
    }
    .container .contactInfo{

        width: 100%;
    }
    


}
@media (max-width: 600px) {


    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}